body {
    background-image: url("graph-web-abstract-4k-hn.jpg");
    background-size: 120rem;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    display: block;
    width: 60%;
    margin: auto;
    border-radius: 1rem 3rem;
    background-color: white;
    padding: 1.2rem;
    border:0.2rem solid #6EF4FF;
    animation-name: blinking;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

.parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.parallax__layer--base {
    transform: translateZ(0);
}
.parallax__layer--back {
    transform: translateZ(-1px);
}

@keyframes blinking {
    50% {
        border-color: #d5fbff;
    }
}

div#iPad {
    position: sticky;
    background-image: url("graph-web-abstract-4k-hn.jpg");
    background-size: 120rem;
    background-repeat: no-repeat;
    background-attachment: fixed;
    top: 0;
    height: 100vh;
    margin: -100vh 0 0;
    z-index: -1
}

main, nav {
    border-radius: 1rem;
    padding: 1rem;
    width: 60%;
    background-color: #091423;
}

#mainbox {
    border-radius: 1rem;
    border:0.1rem solid #6EF4FF;
    margin: 3rem;
    padding: 1rem;
    background-color: #214166;
}

main {
    margin: 3rem auto auto;
    border:0.2rem solid #6EF4FF;
}

p {
    display: block;
}

.reveal{
    color: black;
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
    margin-top: 3rem;
}

.reveal.active{
    color: white;
    transform: translateY(0);
    opacity: 1;
}