body {
    background-image: url("background.png");
    background-size: 120rem;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    border-radius: 1rem;
    padding: 1rem;
    margin: 3rem auto auto;
    width: 60%;
    background-color: white;
}

p {
    display: block;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
    margin-top: 3rem;
}

.reveal.active{
    transform: translateY(0);
    opacity: 1;
}