@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


html {
    height: auto;
    min-height: 100%;
    background-size: cover;
    background-image: url("../media/2304.w032.n002.943A.p30.943.jpg");
    background-repeat: no-repeat;
    z-index: -1;
}

body {
    margin: 0;
    overflow: hidden;
}

#dealerBox {
    top:25%;
    left:50%;
    background-color: rgba(255,255,255,0.3);
    border: 0.3rem solid rgba(255,255,255,0.5);
}

#playerBox {
    top:60%;
    left:50%;
    background-color: rgba(255,255,255,0.3);
    border: 0.3rem solid rgba(255,255,255,0.5);
}

.cardbox{
    padding: 2rem;
    border-radius: 1rem;
    min-width: 40%;
    height: 20%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    user-select: none;
}

.titlebox {
    position: absolute;
    top: -49px;
    background-color: rgba(255,255,255,0.65);
    border-radius: 1rem 1rem 0 0;
    padding: 0.5rem 3rem;
    font-family: "Montserrat", serif;
    font-size: 1.5rem;
    margin: 0;
}

.cards {
    list-style: none;
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    gap:1rem;
}

.cards img {
    height: 100%;
}

.cards img{
    position: relative;
    top:0;
    transition: 0.3s;
}

.cards img:hover {
    top:-15px;
}

#playercontrols {
    top:80%;
    left:50%;
    min-width: 40%;
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    gap:2rem;

}

#playercontrols button {
    font-family: "Montserrat", serif;
    padding: 1rem 2rem;
    border-radius: 0.3rem;
    border: none;
    background-color: lightgray;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
}

#playercontrols button:hover {
    background-color: white;
}

#playercontrols button:active {
    background-color: black;
    color: white;
}

.count {
    color: transparent;
    font-family: "Montserrat", serif;
    font-weight: bold;
    margin-right: 1rem;
    font-size: 4rem;
    -webkit-background-clip: text;
}

#betcontrols {
    font-family: Montserrat, serif;
    width: 25%;
    position: absolute;
    display: block;
    top:87%;
    left:50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    border: 0.3rem solid rgba(255,255,255,0.5);
    background-color: rgba(255,255,255, 0.3);
    user-select: none;
}

#betcontrols select {
    padding: 1rem 2rem;
    font-size: 1.3rem;
    font-family: Montserrat, serif;
    background-color: white;
    border-radius: 0.4rem;
    border: 0.3rem solid white;
}

#betcontrols select:hover {
    border: 0.15rem solid black;
}

#betcontrols button {
    font-family: "Montserrat", serif;
    padding: 1rem 2rem;
    border-radius: 0.3rem;
    border: 0.3rem solid white;
    background-color: white;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
}

#betcontrols button:hover {
    border: 0.3rem solid black;
}

#betcontrols button:active {
    border: 0.3rem solid white;
    background-color: black;
    color: white;
}

#betcontrols p {
    color: white;
    font-size: 2.4rem;
    font-weight: bold;
    margin: 0 0 1rem;
}

@media (max-height: 900px) {
    #playerBox {
        top: 64%;
    }

    #betcontrols {
        top:90%;
        padding: 0.8rem;
    }

    #betcontrols p {
        font-size: 1.3rem;
    }

    #betcontrols button {
        padding: 0.3rem 1rem;
        border: 0.15rem solid white;
    }

    #betcontrols button:hover {
        border: 0.15rem solid black;
    }

    #betcontrols select {
        padding: 0.3rem 2vw;
        border: 0.15rem solid white;
    }

    #betcontrols select:hover {
        border: 0.15rem solid black;
    }

    #playercontrols {
        top:85%;
        left:50%;
    }

    #playercontrols button {
        padding: 0.8rem 1rem;
    }

    .titlebox {
        top: -42.1px;
        font-size: 1.1rem;
    }
}

@media (max-height: 590px) {
    #betcontrols {
        top:90.5%;
        padding: 0.3rem;
    }

    #betcontrols p {
        font-size: 0.8rem;
    }

    #betcontrols button {
        padding: 0.2rem 1rem;
    }

    #betcontrols select {
        padding: 0.2rem 2vw;
    }

    .titlebox {
        top: -26.1px;
        font-size: 0.8rem;
        padding: 0.2rem 3rem;
    }

    #playercontrols {
        top:88%;
    }
}

@media (max-height: 500px) {
    .titlebox {
        display: none;
    }

    #playercontrols button {
        padding: 2dvh 2dvw;
    }

    #betcontrols {
        width: 60dvw;
    }
}