@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    overflow: hidden;
}

video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 0;
}

main {
    background-color: transparent;
    backdrop-filter: blur(20px);
    position: fixed;
    padding: 3rem;
    width: 60%;
    left:50%;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 1rem;
    top:50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    display: flex;
    gap:2rem;
}

.game {
    padding: 1rem;
    border-radius: 1rem;
    border: 0.1rem solid rgba(255,255,255,.2);
    background-color: rgba(255,255,255,0.3);
    backdrop-filter: blur(50px);
    font-family: "Montserrat";
    text-align: center;
    font-weight: bold;
    font-size: 2vw;
    transition: 0.3s;
    position: relative;
    cursor: pointer;
    top: 0;
    user-select: none;
    outline: none;
}

.game:hover {
    background-color: rgba(0, 0, 0, 0);
    top:-15px;
    color:white;
}

.game:hover img {
    filter: brightness(0) invert(1);
}

.game img {
    width: 100%;
    height: auto;
}